
// Colors
$blue:#1c88bf;
$dark-blue:#364051;
$dark-grey:#333333;
$light-purple:#a5afd7;
$light-blue: #464b5e;
$grey:#666;
$off-black : #20222b;
$off-white:#f7f7f7;
$purple:#8357c5;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Size
$xs-size:1.2rem;
$s-size:1.6rem;
$m-size:2rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktopBreakPoint:45rem; 