
// Colors
$blue:#3c4251;
$dark-blue:#333745;
$light-purple:#a5afd7;
$light-blue: #464b5e;
$off-black : #20222b;
$purple:#8357c5;


// Size
$xs-size:1.2rem;
$s-size:1.6rem;
$m-size:2rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktopBreakPoint:45rem; 